__pycache__
*results*
*moments*
*archives*
*old*
data/
*seg*
plots/
plots3d
plot*
recap.py
tr_csv.py
tta_dice_across_subj.py
format_size.py
main_2d.py
proposal_size_tag.py
log/
reg/
get_learning_stats.py
get_stats_by_class.py
inference.py
sizesource/
